ul{list-style-type: none;
    margin:0;
    padding:0;
}

li a { 
    background-color: grey;
    width:100px;
    display:block;
    padding:10px;
}
li a:hover{
    background-color: green;
    color:red;
}